<h1>Dashboard Kas RT</h1>
<h3>Saldo saat ini</h3>
<ul>
    {% for item in balance %}
        <li>
            {{ item.get_fund_type_display }}: <span id="{{ item.fund_type }}">{{ item.balance|floatformat:2 }}</span>
        </li>
    {% endfor %}
</ul>

<script>
    const protocol = window.location.protocol === 'https:' ? 'wss://' : 'ws://';

    const socket = new WebSocket(protocol + window.location.host + '/ws/balance/');
    
    socket.onopen = function() {
        console.log("WebSocket connected");
    };

    socket.onmessage = function(e) {
        console.log("Pesan masuk:")
        console.log(e.data)

        const data = JSON.parse(e.data)
        const balances=data.balances

        for( let key in balances) {
            const el = document.getElementById(key);
            if (el) {
                el.innerText = balances[key]
            }
        }
    };
</script>